{{# if src }}
  <img class="avatar" src={{src}} alt="{{alt}}" style="width: {{width}}px; height: {{height}}px" />
{{else}}
  <div class="avatar" style="width: {{width}}px; height: {{height}}px"></div>
{{/if}}
