<div class="form__item">
  <input name="{{name}}" type="{{type}}" class="form__input" required>
  <label name="{{name}}" class="form__label">{{text}}</label>
  <p class="form__item-validation">{{validation-text}}</p>
</div>